* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer;
}

.fas,
input,
svg {
  cursor: pointer;
}

input:focus-within {
  outline: none;
}

details > summary {
  list-style: none;
}

summary,
input {
  border: 0;
  outline: none;
}

summary:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1200px) {
  .wrap {
    width: 735px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .wrap {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header button {
  background-color: transparent;
}

.wrap-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.search {
  margin: 0 0 0 40px;
  fill: #E8E8E8;
}

.search-img:hover {
  -webkit-animation: scaling 1s infinite;
          animation: scaling 1s infinite;
  fill: #F16D7F;
}

.cart,
.registr,
.menu {
  margin: 0 0 0 33px;
  fill: #E8E8E8;
}

.cart:hover,
.registr:hover,
.menu:hover {
  fill: #F16D7F;
}

@media (max-width: 768px) {
  .cart {
    display: none;
  }
}

@media (max-width: 768px) {
  .registr {
    display: none;
  }
}

.logo:hover {
  -webkit-animation: logo 2s linear 0s 1 normal;
          animation: logo 2s linear 0s 1 normal;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(360deg) scale(0.3);
            transform: rotate(360deg) scale(0.3);
  }
  25% {
    -webkit-transform: rotate(90deg) scale(-2);
            transform: rotate(90deg) scale(-2);
    right: 50px;
  }
  50% {
    -webkit-transform: rotate(150deg) scale(1.1);
            transform: rotate(150deg) scale(1.1);
    right: 90px;
  }
  70% {
    -webkit-transform: rotate(250deg) scale(1.3);
            transform: rotate(250deg) scale(1.3);
    right: 50px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(360deg) scale(0.3);
            transform: rotate(360deg) scale(0.3);
  }
  25% {
    -webkit-transform: rotate(90deg) scale(-2);
            transform: rotate(90deg) scale(-2);
    right: 50px;
  }
  50% {
    -webkit-transform: rotate(150deg) scale(1.1);
            transform: rotate(150deg) scale(1.1);
    right: 90px;
  }
  70% {
    -webkit-transform: rotate(250deg) scale(1.3);
            transform: rotate(250deg) scale(1.3);
    right: 50px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-nav {
  position: absolute;
  right: 0;
  top: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 162px;
  padding: 35px;
  height: 694px;
  z-index: 100;
}

.main-nav-open {
  display: block;
}

.main-nav-close {
  display: none;
}

.main-nav-wrap {
  width: 100%;
  position: relative;
}

.main-nav-close-btn {
  right: -12px;
  top: -12px;
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
}

.main-nav-close-btn:hover {
  opacity: 1;
}

.main-nav-close-btn:before, .main-nav-close-btn:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #575757;
}

.main-nav-close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav-close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.main-nav-subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.main-nav-list {
  margin-bottom: 20px;
  padding-left: 20px;
}

.main-nav-item {
  margin-bottom: 11px;
}

.main-nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.main-nav-link:hover {
  color: #000000;
  text-decoration: underline;
}

.intro {
  background-color: #F1E4E6;
}

.intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 764px;
  background: url(../img/intro.png) no-repeat -226px bottom;
  margin: 0 0 65px 0;
}

@media (max-width: 1200px) {
  .intro-wrap {
    height: 368px;
    background: url(../img/intro.png) no-repeat -25px bottom;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .intro-wrap {
    height: 363px;
    background: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 64px 0;
  }
}

.intro-wrap_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 148px;
}

@media (max-width: 768px) {
  .intro-wrap_catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.intro-text {
  width: 405px;
  border-left: 12px solid #F16D7F;
  margin: 0 50px 0 0;
  padding: 0 0 0 14px;
}

@media (max-width: 1200px) {
  .intro-text {
    width: 311px;
    margin: 0;
  }
  .intro-text .intro-text-big {
    font-size: 44px;
    line-height: 53px;
  }
  .intro-text .intro-text-small {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .intro-text {
    width: 263px;
  }
  .intro-text .intro-text-big {
    font-size: 38px;
    line-height: 46px;
  }
  .intro-text .intro-text-small {
    font-size: 20px;
    line-height: 24px;
  }
}

.intro-text-left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.intro-text-big {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.intro-text-small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.intro-text-pink {
  color: #F16D7F;
}

.intro2 {
  background-color: #F8F3F4;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb-item:not(:last-child) {
  padding: 0 3px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb-item:last-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration .gender {
  padding-left: 10px;
}

.registration-form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-form-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration-form-gender {
  margin-top: 31px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-form-gender label {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
}

.registration-form-input {
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 45px;
  background-color: #FFFFFF;
  padding-left: 18px;
  padding-right: 18px;
}

.registration-form-input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-input-text {
  margin-top: 18px;
  margin-bottom: 39px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-input-bottom {
  margin-top: 18px;
}

.registration-form-button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.registration-form-button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.registration-form-button:hover .registration-form-button-arrow {
  fill: #F16D7F;
}

.registration-form-button-arrow {
  margin-left: 20px;
  fill: #FFFFFF;
}

.registration-text {
  margin-left: 128px;
  width: 652px;
  text-align: left;
}

.registration-text-title {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration-text-text {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration-text-p {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration-text-vector {
  margin-right: 22px;
}

.section-shopping {
  margin: 96px 0 128px 0;
}

@media (max-width: 768px) {
  .section-shopping {
    margin: 39px 0 96px 0;
  }
}

.shopping-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .shopping-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 734px;
  }
}

@media (max-width: 768px) {
  .shopping-wrap {
    width: 358px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cart-shopping {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .cart-shopping {
    width: 734px;
  }
}

@media (max-width: 768px) {
  .cart-shopping {
    width: 358px;
  }
}

.cart-shopping-cart-bottom {
  margin: 40px 0 0 0;
}

.cart-shopping-text {
  margin: 22px 0 62px 31px;
}

.cart-shopping-img {
  width: 262px;
}

@media (max-width: 768px) {
  .cart-shopping-img {
    width: 143px;
  }
}

.cart-shopping-item {
  width: 100%;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .cart-shopping-item {
    height: 188px;
  }
}

.cart-shopping-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-shopping-item-price {
  font-size: 22px;
  line-height: 26px;
  color: #EF5B70;
}

@media (max-width: 768px) {
  .cart-shopping-item-price {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart-shopping-item-span {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

@media (max-width: 768px) {
  .cart-shopping-item-span {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart-shopping-item-title {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin: 0 0 42px 0;
}

@media (max-width: 768px) {
  .cart-shopping-item-title {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 25px;
  }
}

.cart-shopping-item-quantity {
  margin: 0 0 0 24px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  text-align: center;
  width: 43px;
}

@media (max-width: 768px) {
  .cart-shopping-item-quantity {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 15px;
  }
}

.cart-shopping-address {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 17px 0 47px 0;
}

@media (max-width: 1200px) {
  .cart-shopping-address {
    width: 360px;
    margin-right: 17px;
  }
}

.cart-shopping-address-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-shopping-address-form-input {
  height: 45px;
  border: 1px solid #A4A4A4;
  margin: 20px 0 0 0;
  font-size: 13px;
  line-height: 17px;
  padding: 0px 17px;
}

.cart-shopping-address-form-input:hover {
  background: #fff0ff;
}

.cart-shopping-address-form-input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-shopping-address-form-input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-shopping-address-form-input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-shopping-address-form-input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-shopping-button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 106px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  padding: 10px 15px;
  margin: 23px 0 0 0;
  background-color: #FFFFFF;
  text-align: center;
}

.cart-shopping-button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart-shopping-button-close {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 28px;
  opacity: 0.7;
}

.cart-shopping-button-close:hover {
  opacity: 1;
}

.cart-shopping-button-close:before, .cart-shopping-button-close:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  background: #575757;
}

.cart-shopping-button-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-shopping-button-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-shopping-checkout {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  text-align: right;
}

@media (max-width: 1200px) {
  .cart-shopping-checkout {
    margin-top: 55px;
  }
}

@media (max-width: 768px) {
  .cart-shopping-checkout {
    margin-top: 48px;
  }
}

.cart-shopping-checkout-rest {
  margin: 21px 42px 17px 42px;
  background: #E2E2E2;
  height: 1px;
}

.cart-shopping-checkout-title-one {
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 39px 34px 0 0;
}

.cart-shopping-checkout-title-two {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding: 12px 37px 0 0;
}

.cart-shopping-checkout-button {
  width: 273px;
  padding: 15px 0px 15px 0px;
  background-color: #F16D7F;
  margin: 0 42px 0 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.cart-shopping-checkout-button:hover {
  background-color: #F5F3F3;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.cart-shopping-checkout-cash {
  padding: 0 0 0 18px;
}

.cart-shopping-checkout-cash-summ {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 0 0 0 18px;
}

.section-shopping-rigth {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 128px;
}

@media (max-width: 1200px) {
  .section-shopping-rigth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
    margin-top: 54px;
  }
}

@media (max-width: 768px) {
  .section-shopping-rigth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 72px 0 0 0;
  text-align: center;
}

@media (max-width: 768px) {
  .btn {
    margin: 30px 0 0 0;
  }
}

.btn-check {
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.btn-check a {
  display: inline-block;
  padding: 15px 35px;
  margin: 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 768px) {
  .btn-check a {
    padding: 9px 18px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
  }
}

.btn-check:hover {
  border: 1px solid #EF5B70;
}

.btn-check:hover a {
  color: #EF5B70;
}

.btn-rigth {
  margin: 0 0 0 192px;
}

@media (max-width: 768px) {
  .btn-rigth {
    margin: 0 0 0 9px;
  }
}

.filters {
  margin: 51px 0 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__filter {
  position: relative;
  width: 360px;
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

.filters__filter > summary {
  display: block;
  padding: 15px;
}

.filters__filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filters__filter[open] > summary {
  color: #F16D7F;
}

.filters__filter[open] > summary path {
  fill: #F16D7F;
}

.filters__img {
  width: 15px;
  height: 10px;
}

.filters__choice {
  position: absolute;
  width: 360px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  z-index: 1;
}

.filters__sub-filter {
  padding: 11px;
}

.filters__select {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  outline: none;
}

.filters__sub-filter > summary {
  display: block;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #ececec;
  padding: 11px;
}

.filters__sub-filter[open] > summary {
  color: #F16D7F;
}

.filters__list {
  background: #ffffff;
  padding: 14px 0 0 16px;
}

.filters__elem {
  margin: 10px 0;
}

.filters__link {
  color: #222222;
}

.filters__select[open] .filters__value[selected] {
  background-color: #F16D7F;
}

@media (max-width: 768px) {
  .filters-title {
    display: none;
  }
}

.filter {
  position: relative;
}

.filter-size {
  position: absolute;
  width: 79px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  z-index: 1;
  left: -8px;
  margin: 5px 0;
}

.filter-value {
  margin: 7px 9px 11px 9px;
}

.filter-value-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.filter-label > summary {
  padding-top: 15px;
}

.filters_catalog {
  margin: 51px 0 64px 0;
}

.filters_catalog_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters_catalog_label_product {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filters_catalog_select {
  margin: 0 23px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  outline: none;
  padding: 0;
}

.filters_catalog_select[open] .filters_catalog_value[selected] {
  background-color: #F16D7F;
}

.fa-angle-down {
  margin: 0 0 0 10px;
}

.choose-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -295px;
  margin-top: 51px;
  margin-bottom: 64px;
}

.choose-filter-title {
  margin: 0 23px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-filter-title[open] > summary {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
  color: #EF5B70;
  fill: #EF5B70;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 96px;
}

@media (max-width: 1200px) {
  .offer-wrap {
    margin-bottom: 154px;
  }
}

@media (max-width: 768px) {
  .offer-wrap {
    margin-bottom: 64px;
    width: 343px;
  }
}

.offer-item {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1200px) {
  .offer-item {
    width: 232px;
    height: 167px;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .offer-item {
    width: 344px;
    height: 249px;
    margin-bottom: 32px;
  }
}

.offer-item-women {
  background-image: url(../img/for_women.jpg);
}

.offer-item-women:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.offer-item-men {
  background-image: url(../img/for_men.jpg);
}

.offer-item-men:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.offer-item-kids {
  background-image: url(../img/for_kids.jpg);
}

.offer-item-kids:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.offer-item-accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  height: 180px;
  margin: 30px 0 0 0;
}

@media (max-width: 1200px) {
  .offer-item-accesories {
    height: 116px;
  }
}

@media (max-width: 768px) {
  .offer-item-accesories {
    width: 343px;
    height: 111px;
    background-position: center;
    margin: 0;
  }
}

.offer-item-accesories:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.offer-item-text-top {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offer-item-text-bottom {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.slider {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 64px;
}

.slider-img {
  width: 597px;
  height: 724px;
}

.slider-btn {
  background-color: rgba(42, 42, 42, 0.15);
  color: #fff;
  padding: 10px;
  position: absolute;
}

.slider-btn:hover {
  color: #F16D7F;
  background-color: #F7F7F7;
}

.slider-btn:active {
  background-color: #000000;
}

.slider-btn-left {
  left: 0;
}

.slider-btn-right {
  right: 0;
}

.about {
  margin: 0 0 128px 0;
}

.about-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 64px 0 0 0;
}

.about-title-2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
  margin: 32px 0 64px 0;
}

.about-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F26376;
  padding: 0 57px 0 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: 0 0 64px 0;
}

.about-cart-btn:hover {
  color: #F7F7F7;
  background-color: #F16D7F;
}

.about-cart-btn:hover:hover .about-cart-svg {
  fill: #F7F7F7;
}

.about-cart-svg {
  margin: 15px 22px 15px 24px;
  width: 36px;
  height: 34px;
  fill: #F26376;
}

.about-rectangle {
  width: 63px;
  height: 3px;
  border: 1px solid #F16D7F;
  margin: 12px auto;
  background-color: #F16D7F;
}

.about-border {
  border-bottom: 1px solid #EAEAEA;
}

.about-text {
  width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px 0 0 0;
}

.about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
  margin: 32px 0 64px 0;
}

.about-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-filter-title {
  margin: 0 23px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-filter-title[open] > summary {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
  color: #EF5B70;
  fill: #EF5B70;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-wrap {
  background-color: #FFFFFF;
  margin-top: -64px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #EAEAEA;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.products {
  margin: 0 0 95px 0;
  position: relative;
}

.products-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1200px) {
  .products-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.products-list-item {
  width: 31.5%;
  background: #F8F8F8;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .products-list-item {
    width: 47%;
    gap: 16px;
  }
  .products-list-item-3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .products-list-item {
    width: 100%;
    gap: 16px;
  }
  .products-list-item-1 {
    display: block;
  }
  .products-list-item-2 {
    display: none;
  }
  .products-list-item-3 {
    display: block;
  }
}

.products-list-item:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-list-item:hover .overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .products-list-item:hover .overlay {
    opacity: 0;
  }
}

.products-img {
  width: 100%;
  display: block;
  padding: 0 0 25px 0;
}

.products-img:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.products-item-title {
  padding: 0 0 13px 0;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products-item-text {
  padding: 0 29px 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 0 0 20px 0;
}

.products-item-title, .products-item-text, .products-price {
  padding-left: 17px;
}

.products-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 0 0;
}

.products-link:hover {
  background-color: #F26376;
  color: #FFFFFF;
}

.products-link {
  text-decoration: none;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 39px;
}

.desc {
  padding: 0 0 48px 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

@media (max-width: 1200px) {
  .desc {
    padding: 0 0 72px 0;
  }
}

.add-to-card {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  padding: 12px 14px;
  background-color: transparent;
  fill: #E8E8E8;
}

.add-to-card:active {
  color: #F26376;
  border: 1px solid #F26376;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.add-to-card:active .cart-svg {
  fill: #F26376;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.cart-svg {
  margin: 0 11px 0 0;
  width: 26px;
  height: 23px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pagination {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  width: 284px;
  padding: 15px;
  margin: 48px auto 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-check {
  text-decoration: none;
  color: #000000;
}

.pagination-number {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.pagination-number-span {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-number-six {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.pagination-number:hover {
  color: #EF5B70;
}

.pagination-number {
  padding: 0 0 0 20px;
}

.pagination-number:nth-child(9) {
  padding: 0 20px 0 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 341px;
  background-color: #222224;
}

.feature-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 360px;
  height: 134px;
}

@media (max-width: 1200px) {
  .feature-cart {
    margin-top: 48px;
  }
}

.feature-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feature-cart-title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding: 25px 0 16px 0;
}

.feature-cart-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding: 0 0 0 35px;
}

.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 64px;
  }
}

.subscribe {
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 94px 6px 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 0 0;
}

.subscribe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
}

.subscribe-title-small {
  font-size: 18px;
  line-height: 167.2%;
}

.subscribe-field {
  padding: 16px;
  background-color: #E1E1E1;
  border: 1px solid transparent;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field:hover {
  background: #dbdbdb;
}

.subscribe-field::-webkit-input-placeholder {
  color: #222224;
}

.subscribe-field:-ms-input-placeholder {
  color: #222224;
}

.subscribe-field::-ms-input-placeholder {
  color: #222224;
}

.subscribe-field::placeholder {
  color: #222224;
}

.subscribe-btn {
  padding: 16px;
  background-color: #F16D7F;
  border: 1px solid transparent;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}

.subscribe-btn:hover {
  background: #e05c6e;
}

.subscribe-wrap {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .subscribe-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .subscribe {
    padding: 64px 0 140px 0;
  }
  .subscribe-form-wrap {
    margin: 48px 0 0 0;
  }
}

.feedback {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0 30px 0;
}

.feedback-photo {
  padding: 0 0 30px 0;
}

.feedback-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer {
  min-height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.copyrigth {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  text-align: center;
  width: 332px;
}

@media (max-width: 768px) {
  .copyrigth {
    padding-bottom: 9px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .social {
    padding-top: 43px;
    padding-bottom: 40px;
  }
}

.social_icon {
  background-color: #FFFFFF;
  color: #222224;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_icon:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.social_icon:not(:last-child) {
  margin: 0 7px 0 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
/*# sourceMappingURL=style.css.map */