@import "components/_main";


body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: 768px) {
        gap: 24px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}
