* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer;
}

.fas,
input,
svg {
  cursor: pointer;
}

input:focus-within {
  outline: none;
}

details > summary {
  list-style: none;
}

summary,
input {
  border: 0;
  outline: none;
}

summary:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

body {
  width: 1440px;
  margin: 0 auto;
  z-index: 0;
}

.wrap {
  margin: 0 auto;
  width: 1046px;
}

.header {
  height: 793px;
  background: url(../img/header.png) no-repeat;
  background-size: cover;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 104px;
}

.nav-main-logo {
  margin-right: 132px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.nav-main-ul {
  margin-right: 21px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.logo {
  width: 50%;
}

.logo-big {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.logo-small {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 35px 0;
}

.logo-btn {
  padding: 10px 36px;
  border: 1px solid #0D5C63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  color: #0D5C63;
}

.logo-btn-left {
  margin-right: 10px;
  border: none;
  background: #FF7B47;
  border-radius: 37px;
  color: #FFFFFF;
}

.logo-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1px;
  gap: 30px;
  margin-top: -121px;
}

.logo-col-block {
  width: 33.3%;
  height: 242px;
  padding-left: 40px;
  padding-top: 35px;
}

.logo-col-block-text-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.logo-col-block-text-small-rigth {
  color: #FFFFFF;
}

.logo-col-block-text-big {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.logo-col-block-text-big-rigth {
  color: #FFFFFF;
}

.logo-col-block-white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.logo-col-block-rigth {
  background: #0D5C63;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */