.feedback {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 30px 0;

    &-photo {
        padding: 0 0 30px 0;
    }

    &-text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
}