.filters {
    margin: 51px 0 64px 0;
    display: flex;
    justify-content: space-between;

    // @media (max-width: 768px) {
    //     justify-content: end;
    // }



    &-wrap {
        display: flex;
        // align-items: center;
    }

    &__filter {
        position: relative;
        width: 360px;
        color: #222222;
        font-size: 14px;
        line-height: 17px;

        // @media (max-width: 768px) {
        //     display: none;
        // }
    }

    &__filter>summary {
        display: block;
        padding: 15px;
    }

    &__filter[open] {
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &__filter[open]>summary {
        color: #F16D7F;
    }

    &__filter[open]>summary path {
        fill: #F16D7F;
    }

    &__img {
        width: 15px;
        height: 10px;
    }

    &__choice {
        position: absolute;
        width: 360px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background-color: #ffffff;
        z-index: 1;
    }

    &__sub-filter {
        padding: 11px;
    }

    &__select {
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        outline: none;
    }

    &__sub-filter>summary {
        display: block;
        border-left: 5px solid #F16D7F;
        border-bottom: 1px solid #ececec;
        padding: 11px;
    }

    &__sub-filter[open]>summary {
        color: #F16D7F;
    }

    &__list {
        background: #ffffff;
        padding: 14px 0 0 16px;
    }

    &__elem {
        margin: 10px 0;
    }

    &__link {
        color: #222222;
    }

    &__select[open] &__value[selected] {
        background-color: #F16D7F;
    }

    @media (max-width: 768px) {
        &-title {
            display: none;
        }
    }
}

.filter {
    position: relative;

    &-size {
        position: absolute;
        width: 79px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background-color: #ffffff;
        z-index: 1;
        left: -8px;
        margin: 5px 0;
    }

    &-value {
        margin: 7px 9px 11px 9px;

        &-title {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #6F6E6E;
        }
    }

    &-label>summary {
        padding-top: 15px;
    }
}

.filters_catalog {
    margin: 51px 0 64px 0;

    &_wrap {
        display: flex;
        align-items: center;
    }

    &_label_product {
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &_select {
        margin: 0 23px 0 0;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        outline: none;
        padding: 0;
    }

    &_select[open] &_value[selected] {
        background-color: #F16D7F;
    }
}

.fa-angle-down {
    margin: 0 0 0 10px;
}

.choose-filter {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -295px;
    margin-top: 51px;
    margin-bottom: 64px;
    // z-index: 4;

    &-title {
        margin: 0 23px 0 0;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: flex;
        flex-direction: column;
        // z-index: 4;

        &[open]>summary {
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            background: #FFFFFF;
            color: #EF5B70;
            fill: #EF5B70;
            box-sizing: border-box;
        }
    }
}