.footer {
    min-height: 79px;
    background-color: #222224;
    display: flex;
    align-items: center;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

}

.copyrigth {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    text-align: center;
    width: 332px;

    @media (max-width: 768px) {
        padding-bottom: 9px;
    }
}

.social {
    display: flex;

    @media (max-width: 768px) {
        padding-top: 43px;
        padding-bottom: 40px;
    }

    &_icon {
        background-color: #FFFFFF;
        color: #222224;
        width: 32px;
        height: 32px;
        display: flex;
        font-size: 21px;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #F16D7F;
            color: #FFFFFF;
        }

        &:not(:last-child) {
            margin: 0 7px 0 0;
        }
    }
}