.header {
    // position: fixed;
    background-color: #222222;
    position: relative;

    button {
        background-color: transparent;
    }
}

.wrap-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;

    // @media (max-width:768px) {
    //     // padding: 0;
    //     justify-content: space-between;
    // }
}

.search {
    margin: 0 0 0 40px;
    fill: #E8E8E8;
}

.search-img:hover {
    animation: scaling 1s infinite;
    fill: #F16D7F;
}

.cart,
.registr,
.menu {
    margin: 0 0 0 33px;
    fill: #E8E8E8;

    &:hover {
        fill: #F16D7F;
    }
}

@media (max-width:768px) {

    .cart,
    .registr {
        display: none;
    }

    .menu {
        // margin: 0 auto;
        margin-top: 10px;
    }
}

// @media (max-width:768px) {

//     .registr {
//         display: none;
//     }
// }

.logo:hover {
    animation: logo 2s linear 0s 1 normal;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(360deg) scale(0.3);
    }

    25% {
        transform: rotate(90deg) scale(-2);
        right: 50px;
    }

    50% {
        transform: rotate(150deg) scale(1.1);
        right: 90px;
    }

    70% {
        transform: rotate(250deg) scale(1.3);
        right: 50px;
    }

    100% {
        transform: rotate(360deg);
    }
}