.main-nav {
    position: absolute;
    right: 0;
    top: 100%;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 162px;
    padding: 35px;
    height: 694px;

    &-open {
        display: block;
    }

    &-close {
        display: none;
    }

    &-wrap {
        width: 100%;
        position: relative;
    }

    &-close-btn {

        right: -12px;
        top: -12px;
        cursor: pointer;
        position: absolute;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 18px;
            height: 2px;
            background: #575757;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 24px;
    }

    &-subtitle {
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin-bottom: 12px;
    }

    &-list {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    &-item {
        margin-bottom: 11px;
    }

    &-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: #000000;
            text-decoration: underline;
        }
    }
}