* {
    margin: 0;
    padding: 0;
    border: 0;
    // box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

ol,
ul {
    list-style-type: none;
}

button,
input,
textarea {
    line-height: normal;
    text-transform: none;
    cursor: pointer;
}

.fas,
input,
svg {
    cursor: pointer;
}

input:focus-within {
    outline: none;
}

details>summary {
    list-style: none;
}

summary,
input {
    border: 0;
    outline: none;
}

summary:hover {
    transition: 0.3s;
    cursor: pointer;
}