.section-shopping {
    margin-top: 96px;
    // margin-bottom: 128px;
    margin: 96px 0 128px 0;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    // @media (max-width:1200px) {
    //     flex-direction: column;
    // }
}

.shopping-wrap {
    display: flex;
    justify-content: space-between;

        @media (max-width:1200px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        width: 358px;
    }

    
}

// .cart-address {
    
//     @media (max-width:1200px) {
//         // display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         margin-left: 0;
//         margin-right: 0;
//         // width: 360px;
//     }
// }

.cart-shopping {
    width: 652px;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 768px) {
        width: 358px;
    }

    &-cart-bottom {
        margin: 40px 0 0 0;
    }

    &-text {
        margin: 22px 0 62px 31px;
    }

    &-img {
        width: 262px;

        @media (max-width: 768px) {
            width: 143px;
        }
    }

    &-item {
        width: 100%;
        // height: 188px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        display: flex;
        background-color: #FFFFFF;

        @media (max-width: 768px) {
            height: 188px;
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }

        &-price {
            font-size: 22px;
            line-height: 26px;
            color: #EF5B70;
        }

        &-span {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: #575757;

            // @media (max-width: 768px) {
            //     font-size: 14px;
            //     line-height: 17px;
            //     color: #575757;
            // }
        }

        &-title {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin: 0 0 42px 0;

            // @media (max-width: 768px) {
            //     font-size: 16px;
            //     line-height: 19px;
            //     color: #222222;
            //     margin-bottom: 25px;
            // }
        }

        &-quantity {
            margin: 0 0 0 24px;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            border: 1px solid #EAEAEA;
            text-align: center;
            width: 43px;
        }
    }

    &-address {
        width: 360px;
        display: flex;
        flex-direction: column;
        // height: 282px;
        margin: 17px 0 47px 0;

        @media (max-width:1200px) {
            width: 360px;
            margin-right: 17px;
        }
        // margin-top: 17px;
        // margin-bottom: 57px;


        &-title {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        &-form-input {
            height: 45px;
            // width: 100%;
            border: 1px solid #A4A4A4;
            margin: 20px 0 0 0;
            font-size: 13px;
            line-height: 17px;
            padding: 0px 17px;

            &:hover {
                background: #fff0ff;
            }

            &::placeholder {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
            }
        }
    }

    &-button {
        // display: flex;
        justify-content: start;
        width: 106px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #A4A4A4;
        border: 1px solid #A4A4A4;
        padding: 10px 15px;
        margin: 23px 0 0 0;
        background-color: #FFFFFF;
        text-align: center;

        &:hover {
            color: #F16D7F;
            border: 1px solid #F16D7F;
        }

        &-close {
            cursor: pointer;
            position: absolute;
            top: 18px;
            right: 28px;
            opacity: 0.7;

            &:hover {
                opacity: 1;

            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 4px;
                background: #575757;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    &-checkout {
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        // margin: 37px 0 0 0;
        text-align: right;
        // outline: 1px solid red;

        @media (max-width:1200px) {
            margin-top: 55px;
            // margin-right: 17px;
        }

        &-rest {
            margin: 21px 42px 17px 42px;
            background: #E2E2E2;
            height: 1px;
        }

        &-title-one {
            display: block;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            padding: 39px 34px 0 0;
            // padding-right: 34px;
        }

        &-title-two {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding: 12px 37px 0 0;
            // padding-right: 37px;
        }

        &-button {
            width: 273px;
            padding: 15px 0px 15px 0px;
            background-color: #F16D7F;
            margin: 0 42px 0 42px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;

            &:hover {
                background-color: #F5F3F3;
                border: 1px solid #F16D7F;
                color: #F16D7F;
            }
        }

        &-cash {
            padding: 0 0 0 18px;

            &-summ {
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #F16D7F;
                padding: 0 0 0 18px;
            }
        }
    }
}


.section-shopping-rigth {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 128px;

    @media (max-width: 1200px) {
        flex-direction: row;
        margin-left: 0;
        margin-top: 54px;
    }

    @media (max-width: 768px) {
        // width: 375px;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    margin: 72px 0 0 0;
    text-align: center;

    @media (max-width: 768px) {
        margin: 30px 0 0 0;    
    }

    &-check {
        border: 1px solid #A4A4A4;
        background-color: #FFFFFF;

        a {
            display: inline-block;
            padding: 15px 35px;
            margin: 0;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;

            @media (max-width: 768px) {
                padding: 9px 18px;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #575757;
            }
        }

        &:hover {
            border: 1px solid #EF5B70;

            a {
                color: #EF5B70;
            }
        }
    }

    &-rigth {
        margin: 0 0 0 192px;

        @media (max-width: 768px) {
            margin: 0 0 0 9px;
        }
    }
}


// .shopping {
//     margin: 96px 0 128px 0;

//     &-card {

//         &-list {

//             &-item {
//                 height: 306px;
//                 width: 652px;
//                 margin: 0 0 40px 0;
//                 filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
//                 display: flex;

//                 &-img-1 {
//                     width: 262px;
//                     background-image: url(../img/shopping-cart-img-1.png);
//                 }

//                 &-img-2 {
//                     width: 262px;
//                     background: url(../img/shopping-cart-img-2.png), #F3EEEF;
//                 }

//                 &-text {
//                     // display: inline-block;
//                 }
//             }
//         }
//     }
// }