.subscribe {
    background-image: url(../img/subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;

    &-form-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 94px 6px 0;
    }

    &-form {
        display: flex;
        margin: 32px 0 0 0;
    }

    &-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;

        &-small {
            font-size: 18px;
            line-height: 167.2%;
        }
    }

    &-field {
        padding: 16px;
        background-color: #E1E1E1;
        border: 1px solid transparent;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;

        &:hover {
            background: #dbdbdb;
        }

        &::placeholder {
            color: #222224;
        }
    }

    &-btn {
        padding: 16px;
        background-color: #F16D7F;
        border: 1px solid transparent;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        color: #fff;
        font-size: 14px;
        line-height: 17px;

        &:hover {
            background: #e05c6e;
        }
    }
}

.subscribe-wrap {
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .subscribe {
        padding: 64px 0 140px 0;
    }

    .subscribe-form-wrap {
        margin: 48px 0 0 0;
    }
}